<%- include("layout/header") %>

<section class="contact bor text-white">
    <img src="img/ground.jpg " alt="image" >
<div style="background-color: rgba(7, 7, 7,0.7); height: 100vh; width: 100%; position: absolute; left: 0px; top: 0px; z-index: -1;">  
<div class="text-center my-5 pt-5 bor">
    <h2>Contact Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias neque delectus <br> eligendi aperiam! Fuga, voluptatum. Mollitia repellendus sint perferendis porro, quibusdam</p>
</div>
<div class="row col-lg-8 mx-auto bor">    
    <div class="col-lg-8 mx-auto bor shadow-2-strong">
        <form action="mailto:suthardilip189@gmail.com" method="post">
            <div class="card p-3">
                <div class="card-body px-4">                        
                    <!-- Name -->
                    <div class="md-form md-outline mt-0">
                        <label for="name">Your Name</label>
                        <input type="text" id="name" class="form-control">
                    </div>
                    <!-- Email -->
                    <div class="md-form md-outline">
                        <label for="email">Your Email Address</label>
                        <input type="text" id="email" class="form-control">
                    </div>
                    <!-- Message -->
                    <div class="md-form md-outline">
                        <label for="message">Your Message</label>
                        <textarea id="message" class="md-textarea form-control" rows="3"></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary mt-3 btn-block w-100">
                    </div>                   
                </div>    
        </form>
    </div>
    
    </div>
    
    <div class="col-lg-4 mx-auto white-text bor mt-2 " style="margin-right: 30px;" >
        <div>
            <h5 class="font-weight-bold">
                <a style="text-decoration: none;" href="https://www.google.com/maps/place/Shri+Vishwakarma+Temple/@25.1965519,72.5901461,20.85z/data=!4m6!3m5!1s0x394304c740fdc97f:0x28c3a419db6804be!8m2!3d25.1965683!4d72.5902054!16s%2Fg%2F11g897658_?authuser=0&entry=ttu">
                <i class="fa-solid text-white fa-location-dot"></i> 
                </a>
                Address</h5>
        </div>
        <p class="mb-0">Dhandhar Cricket Comety</p>
        <p class="mb-0">Bagra (Jalore - 343025)</p>
        <p class="mb-4 pb-2">Rajasthan</p>

        <!-- <h5 class="font-weight-bold">Phone</h5>
        <p class="mb-4 pb-2">+ 01 234 567 89</p> -->

        <h5 class="font-weight-bold"><i class="fa-solid fa-envelope"></i> Email</h5>
        <a href="suthardilip189@gmail.com" style="text-decoration: none;">
            <p class="text-white">suthardilip189@gmail.com</p>
        </a>

      </div>
</div>
</section> 

<%- include("layout/footer") %>