<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>VPL-2</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-6">
            <img src="img/gmail.jpeg" alt="image">
        </div>
        
        <div class="col-lg-6 offset-m3 my-auto center-align">
            <h1>VPL-2</h1>
            <a class="oauth-container btn darken-4 white black-text" href="http://localhost:5000/auth/google" style="text-transform:none">
                <div class="left">
                    <img src="img/g.png" alt="Google Image" width="30px">
                </div>
                  &nbsp;&nbsp;  Login with Google
            </a>
        </div>
    </div>
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    
    <!-- Compiled and minified JavaScript -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
</body>
</html>