<%- include("layout/header") %>

    <!-- Navbar -->

    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
      <img src="img/ground.jpg" alt="image">
      <div style="background-color: rgba(7, 7, 7,0.7); height: 100vh; width: 100%; position: absolute; left: 0px; top: 0px; z-index: -1;" >
        <div class="mask d-flex align-items-center h-100" style="background-color: rgba(41, 41, 41, 0.1);">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xl-5 col-md-8 mt-5">
                  <form class="bg-white rounded shadow-5-strong p-5" action="/login" method="post">
                    <% if(message) { %>
                        <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                            <strong><%= message.message %></strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% } %>  
                  <!-- Email input -->
                  <h2 class="mb-3">Login</h2>
                  <div class="form-outline mb-1">
                    <input type="email" name="team_id" id="form1Example1" class="form-control" />
                    <label class="form-label" for="form1Example1">Team-ID</label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-1">
                    <input type="password" name="team_pass" id="form1Example2" class="form-control" />
                    <label class="form-label " for="form1Example2">Password</label>
                  </div>
  
                  <!-- 2 column grid layout for inline styling -->
                  <div class="row mb-4">
                      <!-- Checkbox -->
                      <div class="form-check ms-3">
                        <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                        <label class="form-check-label" for="form1Example3">
                          Remember me
                        </label>
                      </div>
                  </div>
  
                  <!-- Submit button -->
                  <!-- <div class="d-flex justify-content-center"> -->
                    <button type="submit" class="btn btn-primary btn-block w-100">Sign in</button>
                  <!-- </div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- Background image -->
    </header>
    <!--Main Navigation-->
  
    <!--Footer-->
   
    <!--Footer-->