.a_eye{
    background: #dee2e6; 
    height: 100px;
    width: 361px;
    border-radius: 10px;   
    /* border: 2px solid red; */   
}
.admin_b{
    border: 2px solid black;
}
.center{
    text-align: center;
}